*.elc
/ac-comphist.dat
/auto-save-list/
/el-get/
/elpa/
/ido.last
/smex-items
/eshell/
/recentf
/.deft/
/url/
/.#ido.last
/.mc-lists.el
/.smex-items
/places
/projectile-bookmarks.eld
/package-init-files/disabled-*.el
/projectile.cache
/server/server
