*.elc
/ac-comphist.dat
/auto-save-list/
/el-get/
/elpa/
/ido.last
/smex-items
/eshell/
/recentf
/.deft/
/url/
/.#ido.last
/.mc-lists.el
/.smex-items
/places
/projectile-bookmarks.eld
/package-init-files/disabled-*.el
/projectile.cache
/server/
.cache
.chicken-scheme-symbols-dump.el
.lsp-session-v1
eclipse.jdt.ls
emojis/
init/99-*.el
remacs.el
templates/
transient/
workspace/
.dap-breakpoints
abbrev_defs
bookmarks
java-ide/
network-security.data
semanticdb/
tramp
/init/00-local-preinit.el
